.main-slogan {
  position: absolute;
  top: 25%;
  z-index: 1;
  padding: 0%;
  min-width: 200px;
  left: 35%;  }

 .jumbotron {
 	background-image: url('../img/stoplight.png');
	background-size: cover; 	
 }

.carousel img {
  max-height: 650px; }

.myBtn-primary {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  
  background: #ddd;
  color: #000;
  cursor: pointer;
  border-radius: 5px;
}

.myBtn-primary:hover {
  background: #000;
  color: white;
} 

.bg-footer {
	background-image: url(../img/footer1.jpg);
	background-size: cover;
}

 /* Style the video: 100% width and height to cover the entire window */
#video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*--------------*/
/*Settings video*/
/*--------------*/

.cover-container {
	position: fixed;
	top: 30%;
	width: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: #6495edb3;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
.myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.myBtn:hover {
  background: #ddd;
  color: black;
} 

/*-------------*/
/* Media query* /
/*-------------*/

/*Iphone Device*/
@media only screen and (max-width: 400px) and (min-width: 200px)  {
	.main-slogan {
		position: relative;
		width: 100%;
		left: 0%;
	}
	.jumbotron {
		border-radius: 0px;
	}
}
/*Ipad Device*/
@media only screen and (max-width: 800px) and (min-width: 400px)  {
	.main-slogan {
		top: 8%;
		left: 25%;
	}
	.jumbotron {
		border-radius: 0px;
	}